<ion-view view-title="Master Capture">
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Colecting event number</span>
                <input type="text" placeholder="Colecting event number">
            </label>
            <label class="item item-input">
                <span class="input-label">Species list</span>
                <input type="text" placeholder="Species list">
            </label>
            <label class="item item-input">
                <span class="input-label">Species Field ID</span>
                <input type="text" placeholder="Species Field ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Caught By</span>
                <input type="text" placeholder="Caught By">
            </label>
            <label class="item item-input">
                <span class="input-label">Capture Type</span>
                <input type="text" placeholder="Capture Type">
            </label>
            <label class="item item-input">
                <span class="input-label">Capture Date</span>
                <input type="text" placeholder="Capture Date">
            </label>
            <label class="item item-input">
                <span class="input-label">Capture Time</span>
                <input type="text" placeholder="Capture Time">
            </label>
            <label class="item item-input">
                <span class="input-label">Release Time</span>
                <input type="text" placeholder="Release Time">
            </label>
            <label class="item item-input">
                <span class="input-label">Camp Time</span>
                <input type="text" placeholder="Camp Time">
            </label>
            <label class="item item-input">
                <span class="input-label">Capture Condition</span>
                <input type="text" placeholder="Capture Condition">
            </label>
            <label class="item item-input">
                <span class="input-label">Camp Condition</span>
                <input type="text" placeholder="Camp Condition">
            </label>
            <label class="item item-input">
                <span class="input-label">Final Condition</span>
                <input type="text" placeholder="Final Condition">
            </label>
            <label class="item item-input">
                <span class="input-label">Trap Type</span>
                <input type="text" placeholder="Trap Type">
            </label>
            <label class="item item-input">
                <span class="input-label">Trap #</span>
                <input type="text" placeholder="Trap #">
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="text" placeholder="Age">
            </label>
            <label class="item item-input">
                <span class="input-label">Reproduction</span>
                <input type="text" placeholder="Reproduction">
            </label>
            <label class="item item-input">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="Notes">
            </label>
        </ion-list>
    </ion-content>
</ion-view>