<ion-view view-title="Event">
    <ion-content>
        <ion-list>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="text" ng-model="_entry.dateEntry" value="{{_entry.dateEntry}}" ng-click="openDatePicker()" placeholder="Date">
                </label>
                <label class="item item-input">
                    <span class="input-label">Site ID</span>
                    <input type="text" id="siteID" placeholder="Site ID">
                </label>
                <label class="item item-input">
                    <span class="input-label">Type</span>
                    <input type="text" id="typeEntry" placeholder="Type">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea id="desEntry" placeholder="Description"></textarea>
                </label>

            </ion-list>

        <div class="padding">
            <button ng-click="checkDbFile()" class="button button-large button-block button-energized">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>
        