<ion-view view-title="Event">
    <ion-content>

        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                    Site ID
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="text" ng-model="dateEvent" value="{{dateEvent}}" ng-click="openDatePickerEvent()" placeholder="Date">
            </label>
            <label class="item item-input">
                <span class="input-label">Start Time</span>
                <input type="text" ng-model="timeEventStar" value="{{timeEventStar}}" ng-click="openTimePickerEventStart()" placeholder="Start Time">
            </label>
            <label class="item item-input">
                <span class="input-label">End Time</span>
                <input type="text" ng-model="timeEventEnd" value="{{timeEventEnd}}" ng-click="openTimePickerEventEnd()" placeholder="End Time">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Primary Collection Methods
                </div>
                <select>
                    <option>Terapping</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Rat</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Elliott</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Cage</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Pitfall</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Pitfall</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input">
                <span class="input-label">Pitfall size</span>
                <input type="text" placeholder="Treatment">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Conibear</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Snare</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Harp</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Camera</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Song Meter</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>
            
            <label class="item item-input">
                <span class="input-label">Other Type</span>
                <input type="text" placeholder="Other Type">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Other</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Mistnet</span>
                <div class="row">
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Checked">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Add/Removed">
                        </label>
                    </div>
                    <div class="col">
                        <label class="">
                            <input type="text" placeholder="Moved">
                        </label>
                    </div>
                </div>
            </label>

            <label class="item item-input mb-5">
                <span class="input-label">Temp</span>
                <input type="text" placeholder="Temp">
            </label>

            <ion-toggle ng-model="settings.enableFriends">
                Specimens
            </ion-toggle>
            <ion-toggle ng-model="settings.enableFriends">
                Observation
            </ion-toggle>
            <ion-toggle ng-model="settings.enableFriends">
                Images
            </ion-toggle>
            <ion-toggle ng-model="settings.enableFriends">
                Sound
            </ion-toggle>

            <label class="item item-input item-select">
                <div class="input-label">
                    Name
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Rool
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Name
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Rool
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Name
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Rool
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Name
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Rool
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

        </ion-list>
        
    </ion-content>
</ion-view>
          