<ion-view view-title="Master Staf">
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Observer Name</span>
                <input type="text" placeholder="Observer Name">
            </label>
            <label class="item item-input">
                <span class="input-label">Collection Event Number</span>
                <input type="text" placeholder="Collection Event Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Record Type</span>
                <input type="text" placeholder="Record Type">
            </label>
            <label class="item item-input">
                <span class="input-label">Taxon Group</span>
                <input type="text" placeholder="Taxon Group">
            </label>
            <label class="item item-input">
                <span class="input-label">Bird ID</span>
                <input type="text" placeholder="Bird ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Frog ID</span>
                <input type="text" placeholder="Frog ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Reptile ID</span>
                <input type="text" placeholder="Reptile ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Mammal ID</span>
                <input type="text" placeholder="Mammal ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Other Taxa ID</span>
                <input type="text" placeholder="Other Taxa ID">
            </label>
            <label class="item item-input">
                <span class="input-label">Count</span>
                <input type="text" placeholder="Count">
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="text" placeholder="Age">
            </label>
            <label class="item item-input">
                <span class="input-label">Sex</span>
                <input type="text" placeholder="Sex">
            </label>
            <label class="item item-input">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="Notes">
            </label>
        </ion-list>
    </ion-content>
</ion-view>