<ion-view view-title="Site">
        <ion-content>
    
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Site IS</span>
                    <input type="text" placeholder="Reng Part">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Lead Staff
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Type
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Country
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        State
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Island
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Elevation</span>
                    <input type="text" placeholder="Z Number">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Precise Location</span>
                    <textarea placeholder="Description"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Site Description</span>
                    <textarea placeholder="Description"></textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">Start Date</span>
                    <input type="text" placeholder="Nature">
                </label>
                <label class="item item-input">
                    <span class="input-label">End Date</span>
                    <input type="text" placeholder="field">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Habitat
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Disturbed
                    </div>
                    <select>
                        <option>---</option>
                        <option>---</option>
                        <option>---</option>
                    </select>
                </label>
               
            </ion-list>
            
        </ion-content>
    </ion-view>
              