<ion-view view-title="Site">
    <ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Site ID</span>
                <input type="text" placeholder="Reng Part">
            </label>
            <!-- <button class="button button-block button-energized" ng-click="addStafPopup()">Add Staf</button> -->
            <!-- <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    
                </div>
            </div> -->
            <label class="item item-input item-select">
                <div class="input-label">
                    Lead Staff
                </div>
                <select ng-model="staffSelect" ng-change="selectStaff(staffSelect)" class="col">
                    <option ng-repeat="listStaf in stafList">{{listStaf.name}}</option>
                    <option value="add">+ Add</option>
                </select>
                <button class="button button-energized" ng-click="addStafPopup()">Add</button>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Country
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Island
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Elevation</span>
                <input type="text" placeholder="Z Number">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Precise Location</span>
                <textarea placeholder="Description"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Site Description</span>
                <textarea placeholder="Description"></textarea>
            </label>

            <label class="item item-input">
                <span class="input-label">Start Date</span>
                <input type="text" placeholder="Nature">
            </label>
            <label class="item item-input">
                <span class="input-label">End Date</span>
                <input type="text" placeholder="field">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Habitat
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Disturbed
                </div>
                <select>
                    <option>---</option>
                    <option>---</option>
                    <option>---</option>
                </select>
            </label>
            
        </ion-list>
        
    </ion-content>
</ion-view>
              