<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="abs-striped tabs-color-assertive tabs-icon-top">

    <ion-tab title="Form Entry" icon-on="ion-earth" icon-off="ion-ionic" href="#/app/entry/formentry">
      <ion-nav-view name="tab-form-entry"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="List Entry" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/app/entry/listentry">
      <ion-nav-view name="tab-list-entry"></ion-nav-view>
    </ion-tab>
  
</ion-tabs>  