<ion-view view-title="Capture Record">
    <ion-nav-buttons side="right">
        <button ng-click="_species.checkDbFile()" class="button button-icon button-clear">
            Save
        </button>
    </ion-nav-buttons>dataCaptureArr

    <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="listPart in _species.dataPartArr" type="item-text-wrap">
            <h2 class="text-capitalize">{{listPart.inputRegPart}}</h2>
            <p>{{listPart.inputZnumber}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>

    <ion-content>
        <div class="padding">
            <button ng-click="addCaptureList()" class="button button-large button-block button-energized">
                Add Record
            </button>
        </div>
    </ion-content>
</ion-view>
          