<ion-view view-title="Measurement">
    <ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Total Length (mm)</span>
                <input type="text" placeholder="Total Length"></label>
                <label class="item item-input">
                <span class="input-label">Tail Length (mm)</span>
                <input type="text" placeholder="Tail Length">
            </label>
            <label class="item item-input">
                <span class="input-label">Hind Foot (mm)</span>
                <input type="text" placeholder="Hind Foot">
            </label>
            <label class="item item-input">
                <span class="input-label">Ear (mm)</span>
                <input type="text" placeholder="Ear">
            </label>
            <label class="item item-input">
                <span class="input-label">Weight (g)</span>
                <input type="text" placeholder="Weight">
            </label>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Sex
                        </div>
                        <select>
                            <option>Male</option>
                            <option>Female</option>
                            <option>---</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0">Add</button>
                </div>
            </div>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Age
                        </div>
                        <select>
                            <option>Adult</option>
                            <option>---</option>
                            <option>---</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0">Add</button>
                </div>
            </div>
                <label class="item item-input">
                    <span class="input-label">Forearm Length</span>
                    <input type="text" placeholder="Forearm Length">
                </label>
                <label class="item item-input">
                    <span class="input-label">Tragus</span>
                    <input type="text" placeholder="Tragus">
                </label>
                <label class="item item-input">
                    <span class="input-label">SVL (mm)</span>
                    <input type="text" placeholder="SVL">
                </label>

                
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Testes position
                        </div>
                        <select>
                            <option>Adult</option>
                            <option>---</option>
                            <option>---</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0">Add</button>
                </div>
            </div>
            <label class="item item-input">
                <span class="input-label">Testes size</span>
                <input type="text" placeholder="Testes position">
            </label>
            <label class="item item-input">
                <span class="input-label">Reproducive Stage</span>
                <input type="text" placeholder="Reproducive Stage">
            </label>
            <label class="item item-input">
                <span class="input-label">placental Scars</span>
                <input type="text" placeholder="placental Scars">
            </label>
            <label class="item item-input">
                <span class="input-label">Mammae</span>
                <input type="text" placeholder="Mammae">
            </label>

            <label class="item item-input">
                <span class="input-label">Prep date</span>
                <input type="text" placeholder="Prep date">
            </label>

            <ion-toggle ng-model="settings.enableFriends">
                Inaccurate
            </ion-toggle>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Why ?
                        </div>
                        <select>
                            <option>Adult</option>
                            <option>---</option>
                            <option>---</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0">Add</button>
                </div>
            </div>

            <label class="item item-input">
                <span class="input-label">Endoparasites</span>
                <input type="text" placeholder="Endoparasites">
            </label>
            <label class="item item-input">
                <span class="input-label">Ectoparasites</span>
                <input type="text" placeholder="Ectoparasites">
            </label>
            <label class="item item-input">
                <span class="input-label">Embryo Number (L,R)</span>
                <input type="text" placeholder="Embryo Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Embryo Number (L,R)</span>
                <input type="text" placeholder="Embryo Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Embryo Length (CR mm - L,R)</span>
                <input type="text" placeholder="Embryo Length (CR mm - L,R)">
            </label>
            <label class="item item-input mb-5">
                <span class="input-label">Embryo Length (CR mm - L,R)</span>
                <input type="text" placeholder="Embryo Length (CR mm - L,R)">
            </label>
                
            </div>
        </ion-list>
        
    </ion-content>
</ion-view>
            