<ion-modal-view>
    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title">Add Part</h1>
        <div class="buttons">
        <button class="button button-clear" ng-click="closePartList()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Reng Part</span>
                <input ng-model="_species.dataPart.inputRegPart" type="text" placeholder="Reng Part">
            </label>
            <label class="item item-input">
                <span class="input-label">Z Number</span>
                <input ng-model="_species.dataPart.inputZnumber" type="text" placeholder="Z Number">
            </label>
            <label class="item item-input">
                <span class="input-label">Nature</span>
                <input ng-model="_species.dataPart.inputNature" type="text" placeholder="Nature">
            </label>
            <label class="item item-input">
                <span class="input-label">Field</span>
                <input ng-model="_species.dataPart.inputField" type="text" placeholder="field">
            </label>
            <label class="item item-input">
                <span class="input-label">Treatment</span>
                <input ng-model="_species.dataPart.inputTreatment" type="text" placeholder="Treatment">
            </label>
            <label class="item item-input">
                <span class="input-label">Perm</span>
                <input ng-model="_species.dataPart.inputPerm" type="text" placeholder="Perm">
            </label>
            <label class="item item-input mb-5">
                <span class="input-label">Temp</span>
                <input ng-model="_species.dataPart.inputTemp" type="text" placeholder="Temp">
            </label>
        </ion-list>

        <div class="padding">
            <button ng-click="addPartsScope()" class="button button-large button-block button-energized">
                Save
            </button>
        </div>
    </ion-content>
</ion-modal-view>
        