<ion-modal-view>
    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title">Add Capture Record</h1>
        <div class="buttons">
        <button class="button button-clear" ng-click="closeCaptureList()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Coll. Event
                        </div>
                        <select ng-model="_species.dataCapture.collectionEventSelect">
                            <option ng-repeat="listCollectionEvent in _species.jsonData.collectionEventMaster">{{ listCollectionEvent.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCollectionEvent()">Add</button>
                </div>
            </div>
            <label class="item item-input">
                <span class="input-label">Capture Date</span>
                <input type="text" ng-model="_species.dataCapture.dateCapture" value="{{dateCapture}}" ng-click="openDatePickerCapture()" placeholder="Capture Date">
            </label>
            <label class="item item-input">
                <span class="input-label">Capture Time</span>
                <input type="text" ng-model="_species.dataCapture.timeCapture" value="{{timeCapture}}" ng-click="openTimePickerCapture()" placeholder="Capture Time">
            </label>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Capture Type
                        </div>
                        <select ng-model="_species.dataCapture.captureTypeSelect">
                            <option ng-repeat="listCaptureType in _species.jsonData.captureTypeMaster">{{ listCaptureType.name }}<option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCaptureType()">Add</button>
                </div>
            </div>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trap Type
                        </div>
                        <select ng-model="_species.dataCapture.trapTypeSelect">
                            <option ng-repeat="listTrapType in _species.jsonData.trapTypeMaster">{{ listTrapType.name }}<option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalTrapType()">Add</button>
                </div>
            </div>
            <label class="item item-input">
                <span class="input-label">Trap ID</span>
                <input ng-model="_species.dataCapture.inputTrapId" type="text" placeholder="Trap ID">
            </label>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Capture
                        </div>
                        <select ng-model="_species.dataCapture.captureSelectSelect">
                            <option ng-repeat="listCaptureSelect in _species.jsonData.captureSelectMaster">{{ listCaptureSelect.name }}<option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCaptureSelect()">Add</button>
                </div>
            </div>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Species Field
                        </div>
                        <select ng-model="_species.dataCapture.speciesFieldSelect">
                            <option ng-repeat="listSpeciesField in _species.jsonData.speciesFieldMaster">{{ listSpeciesField.name }}<option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalSpeciesField()">Add</button>
                </div>
            </div>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Sex
                </div>
                <select ng-model="_species.dataCapture.selectSex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </label>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Age
                        </div>
                        <select ng-model="_species.dataCapture.captureAgeSelect">
                            <option ng-repeat="listAge in _species.jsonData.ageMaster">{{ listAge.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalAge()">Add</button>
                </div>
            </div>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Caught By
                        </div>
                        <select ng-model="_species.dataCapture.captureCaughtBySelect">
                            <option ng-repeat="listCaughtBy in _species.jsonData.caughtByMaster">{{ listCaughtBy.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCaughtBy()">Add</button>
                </div>
            </div>
            
            
            <label class="item item-input">
                <span class="input-label">Reproduction</span>
                <input ng-model="_species.dataCapture.inputReproduction" type="text" placeholder="Reproduction">
            </label>
            <label class="item item-input">
                <span class="input-label">Release Time</span>
                <input ng-model="_species.dataCapture.inputReleaseTime" type="text" placeholder="release time">
            </label>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Camp Time
                        </div>
                        <select ng-model="_species.dataCapture.campTimeSelect">
                            <option ng-repeat="listCampTime in _species.jsonData.campTimeMaster">{{ listCampTime.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCampTime()">Add</button>
                </div>
            </div>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Camp Condition
                        </div>
                        <select ng-model="_species.dataCapture.campConditionSelect">
                            <option ng-repeat="listCampCondition in _species.jsonData.campConditionMaster">{{ listCampCondition.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCampCondition()">Add</button>
                </div>
            </div>
            <div class="row p-0">
                <div class="col col-80 p-0">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Final Condition
                            </div>
                            <select ng-model="_species.dataCapture.finalConditionSelect">
                                <option ng-repeat="listFinalCondition in _species.jsonData.finalConditionMaster">{{ listFinalCondition.name }}</option>
                            </select>
                        </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalFinalCondition()">Add</button>
                </div>
            </div>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea ng-model="_species.dataCapture.inputDescription" placeholder="Description"></textarea>
            </label>
        </ion-list>

        <div class="padding">
            <button ng-click="_species.addDataCapture()" class="button button-large button-block button-energized">
                Save
            </button>
        </div>
    </ion-content>
</ion-modal-view>
            