<ion-view view-title="Specimen">
    <ion-nav-buttons side="right">
        <button ng-click="_species.checkDbFile()" class="button button-icon button-clear">
            Save
        </button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Reg</span>
                <input ng-model="_species.dataSpecies.inputReg" type="text" placeholder="Reg">
            </label>
            <label class="item item-input">
                <span class="input-label">Collector</span>
                <input ng-model="_species.dataSpecies.inputCollector" type="text" placeholder="Colector">
            </label>
            <label class="item item-input">
                <span class="input-label">Initials</span>
                <input ng-model="_species.dataSpecies.inputInitials" type="text" placeholder="Initials">
            </label>
            <label class="item item-input">
                <span class="input-label">Preparator</span>
                <input ng-model="_species.dataSpecies.inputPreparator" type="text" placeholder="Preparator">
            </label>
            <label class="item item-input">
                <span class="input-label">Genu</span>
                <input ng-model="_species.dataSpecies.inputGenu" type="text" placeholder="Genu">
            </label>
            <label class="item item-input">
                <span class="input-label">Species</span>
                <input ng-model="_species.dataSpecies.inputSpecies" type="text" placeholder="Species">
            </label>
    
            <label class="item item-input">
                <span class="input-label">field</span>
                <input ng-model="_species.dataSpecies.inputField1" type="text" placeholder="field">
            </label>
            <label class="item item-input">
                <span class="input-label">field</span>
                <input ng-model="_species.dataSpecies.inputField2" type="text" placeholder="field">
            </label>
            <label class="item item-input">
                <span class="input-label">field</span>
                <input ng-model="_species.dataSpecies.inputField3" type="text" placeholder="field">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">field</span>
                <textarea ng-model="_species.dataSpecies.inputField4" placeholder="field"></textarea>
            </label>
        </ion-list>

        <div class="col">
            <div class="button-bar bar-assertive">
                <a ng-click="login()" class="button button-outline button-assertive">Part List</a>
                <a ng-click="login()" class="button button-outline button-assertive">Staf List</a>
                <a ng-click="login()" class="button button-outline button-assertive">Speciment List</a>
            </div>
        </div>

        <!-- <div class="padding">
            <button ng-click="_species.checkDbFile()" class="button button-large button-block button-energized">
                Save
            </button>
        </div> -->
    </ion-content>
</ion-view>
      