<ion-modal-view>
    <ion-header-bar class="bar-stable bar-assertive">
        <h1 class="title">Add Master Caught By</h1>
        <div class="buttons">
        <button class="button button-clear" ng-click="closeModalCaughtBy()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input id="nameCaughtBy" ng-model="_capture.nameCaughtBy" type="text"  placeholder="Name">
                </label>
            </ion-list>

        <div class="padding">
            <button ng-click="addListCaughtBy()" class="button button-large button-block button-energized">
                Save
            </button>
        </div>
    </ion-content>
</ion-modal-view>