<ion-view view-title="Site">
    <ion-content>

        <ion-list>
            <label class="item item-input">
                <span class="input-label">Site ID</span>
                <input type="text" ng-model="_site.selectSiteID" placeholder="Reng Part">
            </label>

            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Lead Staff
                        </div>
                        <!-- <a class="button button-icon icon ion-plus-circled" ng-click="addStafPopup()"></a> -->
                        <select ng-model="_site.staffSelect" ng-change="selectStaff(staffSelect)">
                            <option ng-repeat="listStaf in _site.jsonData.staffMaster">{{ listStaf.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalStaff()">Add</button>
                </div>
            </div>

            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Type
                        </div>
                        <select ng-model="_site.typeSelect" ng-change="selectType(typeSelect)">
                            <option ng-repeat="listType in _site.jsonData.typeMaster">{{ listType.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalType()">Add</button>
                </div>
            </div>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Country
                        </div>
                        <select ng-model="_site.countrySelect" ng-change="selectCountry(countrySelect)">
                            <option ng-repeat="listCountry in _site.jsonData.countryMaster">{{ listCountry.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalCountry()">Add</button>
                </div>
            </div>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            State
                        </div>
                        <select ng-model="_site.stateSelect" ng-change="selectState(stateSelect)">
                            <option ng-repeat="listState in _site.jsonData.stateMaster">{{ listState.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalState()">Add</button>
                </div>
            </div>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Island
                        </div>
                        <select ng-model="_site.islandSelect" ng-change="selectIsland(islandSelect)">
                            <option ng-repeat="listIsland in _site.jsonData.islandMaster">{{ listIsland.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalIsland()">Add</button>
                </div>
            </div>
            
            <label class="item item-input">
                <span class="input-label">Elevation</span>
                <input type="text" ng-model="_site.inputZnomber" placeholder="Z Number">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Precise Location</span>
                <textarea ng-model="_site.descLocation" placeholder="Description"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Site Description</span>
                <textarea ng-model="_site.descSite" placeholder="Description"></textarea>
            </label>

            <label class="item item-input">
                <span class="input-label">Start Date</span>
                <input type="text" ng-model="_site.inputStartDate" placeholder="Start Date">
            </label>
            <label class="item item-input">
                <span class="input-label">End Date</span>
                <input type="text" ng-model="_site.inputEndDate" placeholder="field">
            </label>
            
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Habitat
                        </div>
                        <select ng-model="_site.habitatSelect" ng-change="selectHabitat(habitatSelect)">
                            <option ng-repeat="listHabitat in _site.jsonData.habitatMaster">{{ listHabitat.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalHabitat()">Add</button>
                </div>
            </div>
            <div class="row p-0">
                <div class="col col-80 p-0">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Disturbed
                        </div>
                        <select ng-model="_site.disturbedSelect" ng-change="selectDisturbed(disturbedSelect)">
                            <option ng-repeat="listDisturbed in _site.jsonData.disturbedMaster">{{ listDisturbed.name }}</option>
                        </select>
                    </label>
                </div>
                <div class="col p-0">
                    <button class="button button-block button-energized mb-0 mt-0" ng-click="addModalDisturbed()">Add</button>
                </div>
            </div>
            
        </ion-list>

        <div class="padding">
            <button ng-click="addTblSite()" class="button button-large button-block button-energized">
                Save
            </button>
        </div>
        
    </ion-content>
</ion-view>
              