<ion-view view-title="{{projectDetail.siteID}}">
    <ion-content>

        <div class="padding">
            
            <div class="row">
                <div class="col">
                    <a href="#/app/project-detail-specimen/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mb-0">
                        <i class="icon ion-bug btn-menu"></i> Specimen
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/project-detail-event/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mb-0">
                        <i class="icon ion-network btn-menu"></i> Event
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/project-detail-site/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mt-0 mb-0">
                        <i class="icon ion-planet btn-menu"></i> Site
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/project-detail-capture/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mt-0 mb-0">
                        <i class="icon ion-camera btn-menu"></i> Capture
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/project-detail-orb/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mt-0">
                        <i class="icon ion-pinpoint btn-menu"></i> Obs
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/project-detail-entry/{{projectDetail.id}}" ng-click="_project.accounts()" class="button button-large button-block button-energized mt-0">
                        <i class="icon ion-information btn-menu"></i> Narrative
                    </a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>