<ion-view view-title="List Project">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="list in _listProject.listProject" type="item-text-wrap" href="#">
                <h2>{{list.location}}</h2>
                <p>{{list.dateProjectString}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive">
                Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
      