<ion-view view-title="Master Project">
    <ion-content>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="list in _project.jsonData.tblProject" type="item-text-wrap" href="#/app/project-detail-menu/{{list.id}}">
                <h2 class="text-capitalize">{{list.location}}</h2>
                <p>{{list.dateProject | date:'MMMM dd, y'}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive">
                Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        
        <div class="padding">
            <button ng-click="addProjectList()" class="button button-large button-block button-energized">Create Project</button>
            <button ng-click="_project.deleteDB()" class="button button-large button-block button-energized">Delete Project</button>
            <button ng-click="getPhoto()" class="button button-large button-block button-energized">Capture</button>
        </div>

        <edit-config id="myImage" target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <div class="padding">
                <img style="width: 100%;" src="{{ dataImg }}" alt="">
            </div>
        </edit-config>
        
    </ion-content>
</ion-view>    